@charset "UTF-8";

/* Header */
body {
  overflow-x: hidden;
  overflow-x: hidden;
}

img {
  width: 100px;
  height: 100px;
}

.Header {
  max-width: 768px;
  width: 100%;
  margin: auto;
}

header {
  padding-left: 15px;
  background-color: #fff;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 100;
  box-shadow: 1px 2px 4px rgba(94, 102, 255, 0.31);
}
header.shadow {
  background: #fff;
  transition: 0.2s;
}
header h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #5E66FF;
}
    


nav a{
  font-size: 14px;
  height:20px;
  color: #fff;
  background-color: #5E66FF;
  border-radius: 5px;
  padding: 10px;
  margin-left: -20px;
  text-decoration: none;
  transition: .5s;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.nav {
  margin: 10px;
  display: flex;
  column-gap: 2rem;
}

nav > a:hover {
  
  cursor: pointer;
}



/* ============Home=================== */
.developed {
  width: 100%;
  overflow-y: hidden;
  border-radius: 10px;
  margin-top: 200px;
  background-image: linear-gradient(to left, rgba(238, 154, 204, 1),  rgba(94, 102, 255, 1));
}
.itens {
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 20px;
  color: #fff;
} 

.itens h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.itens img {
  margin-top: -90px;
  height: 450px;
  width: 450px;
}

.itens .buttons {
  padding-top: 30px;
  padding-bottom: 30px;
}

.itens .button1 {
  height: 50px;
  width: 120px;
  color: #fff;
  border-radius: 5px;
  border: white;
  background: #EA73DD;
} 
.itens .button1:hover {
  cursor: pointer;
}
.itens .button2:hover {
  cursor: pointer;
}
.button2 {
  margin-left: 70px;
  width: 120px;
  border-radius: 3px;
  border: 1px solid;
  background-color: transparent;
  color: #fff;
  height: 50px;
}

/* Header Responsive */
@media only screen and (max-width: 667px) {
  .itens p > br {
    display: none;
  }
  .itens img {
    width: 300px;
    margin-left: 1%;
    height: 300px;
  } 
.itens .buttons {
  margin-left: 8px;
}
  .itens .button2 {
    margin-left: 30px;
  }
}

@media screen and (min-width: 667px) and (max-width: 1250px) {
  
  .itens h1 {
    font-size: 3em;
  }
  .itens p {
    font-size: 15px;
  }
  .itens {
    margin-left: 100px;
  }
}

@media screen and (min-width: 1250px) {
  .developed {
    height: 600px;
    border-radius: 30px 30px 360px 30px;
  }

  .itens h1 {
    font-size: 3em;
  }
  .itens p {
    font-size: 15px;
  }
  .itens img {
    margin-top: -300px;
    width: 450px;
    height: 450px;
    margin-left: 60%;
  }
.buttons {

   padding-left: 50px;
  padding-top: 70px;
}
}

/*===============Oters=================*/
.oters {
  overflow-y: hidden;
  margin-left: 20px;
  color: #010855;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.oters h1 {
  font-size: 50px;
  color: #010855;
}

.oters p{
  color: #010877;
}
.oters .elements {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.oters .Study {
  width: 210px;
  padding-left: 30px;
  padding-top: 30px;
  height: 250px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px  rgba(238, 154, 204, 0.08);
}         


.oters .Study > img {
  width: 100px;
  height: 120px;
  margin-left: 30px;
}

.oters .Checked {
  width: 210px;
  padding-left: 30px;
  padding-top: 30px;
  height: 250px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px  rgba(238, 154, 204, 0.08);
}
.oters .Checked > img {
  width: 100px;
  height: 120px;
  margin-left: 30px;
}

.oters .Modern {
  width: 210px;
  padding-left: 30px;
  padding-top: 30px;
  height: 250px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px  rgba(238, 154, 204, 0.08);
}
.oters .Modern > img {
  width: 100px;
  height: 120px;
  margin-left: 35px;
}
.Modern, .Study, .Checked {
  margin: 30px;
}
.oters h3 {
  font-size: 18px;
}
/*OTERS Responsive*/
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .oters .elements {
    display: flex;
    flex-wrap: wrap;
  }
  
}

@media screen and (min-width: 1250px) {
  .oters .elements {
    margin-top: -300px;
    display: flex;
    margin-left: 400px;
    flex-wrap: wrap;
  }

  .Checked {
    margin-top: 30px;
  }
}
/*====================Product===================*/
.product {
  
  margin-top: 50px;
  background-color: rgba(238, 154, 204, 0.08);
  color: #010877;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.product span {
  color: #EA73DD;
}

.many h1 {
  margin-left: 50px;
  font-size: 40px;
}

.many p {
  margin-left: 50px;
}

.many img {
  height: 400px;
  width: 500px;
}
.product  .button {
  border-color: #fff;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 50px;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  background-color: #EA73DD;

}
.product  .button:hover {
  transition: .3s;
  color: black;
  cursor: pointer;
  background-color: transparent;
}

.time {
  width: 50%;
  
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 300px;
  margin-top: 110px;
}

.time img {
  width: 400px;
  height: 350px;
}

.time h1 {
  font-size: 40px;
  margin-left: 50px;
}

.time p {
  margin-left: 50px;
}

/*PRODUCT RESPONSIVE */
@media only screen and (max-width: 768px) {

  .many h1 br {
    display: none;
  }
  .many h1 {
    font-size: 30px;
  }
  .many img {
    width: 300px;
    height: 250px;
    margin-left: 10%;
  }
  .time h1 > br {
    display: none;
  }
  .time h1 {
    font-size: 30px;
  }
  .time img {
    width: 300px;
    height: 250px;
    margin-left: 10%;
   
  }
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
  
  .time h1 {
    margin-top: -350px;
  }
  .time img {
    height: 400px;
    
    margin-bottom: 400px;

  }
}


@media screen and (min-width: 1220px) {
  .many h1 {
    margin-top: -350px;
    margin-left: 50%;
  }
  .many p {
    margin-left: 50%;
  }
  .many .button {
    margin-left: 50%;
  }

  /* Time*/
  .time img {
    
    margin-left: 50%;
    
  }

  .time h1 {
    margin-top: -350px;
  }
}

/*======================Plans=============*/
.plans {
  margin-top: 150px;
}
.plans .elements {
  
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.plans .elements h1 {
 padding: 10px;
 margin-left: -30px;
}
.plans .title p {
  text-align: center;
}
.plans .elements strong {
  font-size: 30px;
  color: #EA73DD;
}
.plans .elements h3 {
  font-weight: 100;
  font-size: 12px;
}
.circles {
  margin-left: -35px;
}
.item {
  margin-top: -155px;
}
.circle {
  margin: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4CAF50; /* cor do círculo */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* cor do símbolo de check */
  font-size: 24px;
  }

.red-icon {
  margin: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FD809E; /* cor do círculo */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* cor do símbolo de check */
  font-size: 24px;
}
.plans .button {
  width: 120px;
  border-color: #fff;
  margin-top: 20px;
  margin-left: 40px;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  background-color: #EA73DD;
}
.plans .button:hover {
  cursor: pointer;
}

.elements p {
  text-align: center;
  margin-left: -15%;
}
.elements a {
  margin: -1px;
}
.elements .buttonsem {
  width: 120px;
  border-color: #F0F0F0 ;
  margin-top: 20px;
  margin-left: 35px;
  color: #EA73DD;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
 background-color: transparent;
}
.elements .buttonsem:hover {
  border-color: #fff;
  cursor: pointer;
  color: #fff;
  background-color: #EA73DD;
}
.plans .start {
  width: 250px;
  padding-left: 30px;
  padding-top: 30px;
  height: 450px;
  border-radius: 30px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



.plans .advanced {
  width: 250px;
  padding-left: 30px;
  padding-top: 30px;
  height: 450px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.plans .premium {
  width: 250px;
  padding-left: 30px;
  padding-top: 30px;
  height: 450px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px  rgba(0, 0, 0, 0.25);
}
.start, .advanced, .premium {
  margin: 30px;
}


.plans .elements p {
  color: #010877;
}
 h3 {
  margin-left: 50px;
  font-family: normal;
}



.plans h1 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #010855;
}
.plans a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: block;
  font-size: 15px;
  padding: 7px;
  color: #010855;
}

/*============= Discount ================*/
.discount {

  margin-bottom: 30px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 10px;
  margin-top: 150px;
  background-image: linear-gradient(to left, rgba(238, 154, 204, 1),  rgba(94, 102, 255, 1));
}

.each {
  margin-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}
.each h1 {
  font-weight: 500;
  font-size: 30px;
}

.each img {
  width: 550px;
  height: 500px;
}
.have {
  padding-top: -300px;
}
.code {
  margin-left: 30px;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #EA73DD;
  padding: 15px;
  margin-bottom: 40px;
  background-color: #EA73DD;
}
.code:hover{
  cursor: pointer;
  background-color: transparent;
  border-color: #F0F0F0;
  transform: .5s;
}
/* Discount  responsive*/

@media only screen and (max-width: 768px) {

  .each img {
    width: 300px;
    height: 250px;
    margin-left: 5%;
  }
  .each p {
    font-size: 13px;
  }
}
@media screen and (min-width: 667px) and (max-width: 1250px) {
  .each img {
    width: 400px;
    height: 350px;
  }
  .each {
    margin-left: 100px;
  }
}

@media screen and (min-width: 1220px) {
  .have {
    margin-top: -80px;
  }
  
  .each img {
    margin-top: -170px;
    margin-left: 60%;
    width: 350px;
    height: 300px;
  }
  .each {
    margin-left: 100px;
  }
}

/*=============FOOTER =====================*/
footer {
  margin-bottom: 10px;
  border-radius: 3px;
  color: #fff;
  background-color: #010855;
}
.footer {
  margin-left: 30px;
}

.footer img {
  margin-left: -20px;
}
.footer h1 {
  
  margin-top: -70px;
  margin-left: 80px;
}
footer h1 {
  font-size: 25px;
}
.footer p {
  color: #d9d9d9;
  font-size: 12px;
}
.footer h5 {
  font-size: 10px;
  padding-bottom: 20px;
} 
.footer a {
  color: #d9d9d9;
  padding: 5px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  color: #fff;
}
hr {
  margin-left: -2%;
  width: 100%;
 margin-top: 30px;
  
}
h3 {
  margin-left: 0px;
}
.footer p {
  margin-top: 40px;
  padding-bottom: 20px;
}
.buttons {
  margin-left: -20px;
  margin-top: 30px;
}
.buttonY {
  text-align: left;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}
.buttonS {
  margin-left: 10px;
  color: #fff;
  padding: 10px;
  border-color: #EA73DD;
  border-radius: 5px;
  background-color: #EA73DD;
}

.footer .indic {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.indic .Contacts {
  margin-left: 80px;
}
.indic .Help {
  margin-left: 80px;
}

/* Footer Reponsive */
@media only screen and (max-width: 768px) {
  .footer .indic {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
  }
  .indic .Contacts {
    margin-left: 0px;
  }
  .indic .Help {
    margin-left: 0px;
  }
}

@media screen and (min-width: 667px) and (max-width: 1250px) {
  .footer p {
    font-size: 15px;
  }
  .footer h5 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1220px) {
  .footer p {
    font-size: 18px;
  }
  .footer a {
    font-size: 18px;
  }
  .footer h5 {
    font-size: 18px;
  }
}